html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #FFFFFF;
}

.container-invis {
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    position: absolute;
    top: 10vh;
}

p.title {
    margin: 0 10vw;
    padding: 12px;
    
    font-size: 1.5em;
    
    text-align: center;
    letter-spacing: 0.2em;
}

p.description {
    margin: 0 10vw;
    padding: 11.2px 12px;
    
    font-size: 0.7em;
    
    text-align: center;
    letter-spacing: 0.1em;
    
    background-color: hsla(0, 0%, 100%,0.1);
}

p.description:hover {   
    background-color: hsla(0, 0%, 100%,0.11);
}


.background {
    height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    background-color: #3C4B5A;
    
    background-image: url(../imgs/stars.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    position: relative;
}

.content {
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    background-color: hsla(200, 10%, 10%, 1.0);
}

p.info-above {
    margin: 0 20vw;
    padding: 24px 12px 12px;
    
    font-size: 1em;
    color: #6E96C9;
    
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.1em;
}

p.info-below {
    margin: 0 20vw;
    padding: 12px 12px 24px;
    
    font-size: 1em;
    color: #6E96C9;
    
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.1em;
}

span.light {
    color: #AAB4C9;
}

.pattern {
    height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    background-color: #F3FFEA;
    
    background-image: url(../imgs/gradient.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    
    position: relative;
}

p.subtitle {
    margin: 0 10vw;
    padding: 12px;
    
    font-size: 1.5em;
    color: #171A1C;
    
    text-align: center;
    letter-spacing: 0.2em;
}

p.guide {
    margin: 0 10vw;
    padding: 11.2px 12px;
    
    font-size: 0.7em;
    color: #171A1C;
    
    text-align: center;
    letter-spacing: 0.1em;
    
    background-color: hsla(0, 0%, 100%,0.3);
}

p.guide:hover { 
    background-color: hsla(0, 0%, 100%,0.31);
}

.fractal-light {
    height: 61vh;
    
    margin: 5vh 10vw;
    padding: 0 12px;
    
    text-align: center;
    
    position: relative;
  
    background-color: hsla(0, 0%, 100%,0.11);
}

.fractal-dark {
    height: 61vh;
    
    margin: 5vh 10vw;
    padding: 0 12px;
    
    text-align: center;
    
    position: relative;
  
    background-color: hsla(0, 0%, 100%,0.31);
}

.grid {
    margin: 0 10vw;
    padding: 24px 12px;
    
    display: grid;
    grid-auto-rows: repeat(5, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

.left-one {
    display: flex;
    align-items: center;
    
    padding: 8px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: left;
    letter-spacing: 0.1em;
    
    grid-column: 1 / 4;
    grid-row: 1;
}

.left-two {
    display: flex;
    align-items: center;
    
    padding: 8px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: left;
    letter-spacing: 0.1em;
    
    grid-column: 1 / 4;
    grid-row: 2;
}

.left-three {
    display: flex;
    align-items: center;
    
    padding: 8px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: left;
    letter-spacing: 0.1em;
    
    grid-column: 1 / 4;
    grid-row: 3;
}

.left-four {
    display: flex;
    align-items: center;
    
    padding: 8px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: left;
    letter-spacing: 0.1em;
    
    grid-column: 1 / 4;
    grid-row: 4;
}

.middle-one {
    padding: 8px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: center;
    letter-spacing: 0.1em;
    
    grid-column: 4 / 5;
    grid-row: 1;
}

.middle-two {
    padding: 8px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: center;
    letter-spacing: 0.1em;
    
    grid-column: 4 / 5;
    grid-row: 2;
}

.middle-three {
    padding: 8px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: center;
    letter-spacing: 0.1em;
    
    grid-column: 4 / 5;
    grid-row: 3;
}

.middle-four {
    padding: 8px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: center;
    letter-spacing: 0.1em;
    
    grid-column: 4 / 5;
    grid-row: 4;
}

.middle-five {
    padding: 12px 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    grid-column: 4 / 7;
    grid-row: 5;
}

.right-one {
    display: flex;
    align-items: center;
    justify-content: center;
    
    grid-column: 5 / 10;
    grid-row: 1;
}

.right-two {
    display: flex;
    align-items: center;
    justify-content: center;
    
    grid-column: 5 / 10;
    grid-row: 2;
}

.right-three {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 5 / 10;
    grid-row: 3;
}

.right-four {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 5 / 10;
    grid-row: 4;
}

.slider {
    -webkit-appearance: none;
    
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 3px;
    
    border-radius: 5px;   
    background: #d3d3d3;
    
    outline: none;
    opacity: 0.7;
    
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.button {
    margin: 0;
    padding: 0;
    
    width: 80%;
    height: 100%;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
    border-radius: 5px;
    background: #d3d3d3;
    
    outline: none;
    opacity: 0.7;
    
    font-size: 1em;
    color: #171A1C;
    
    text-align: center;
    letter-spacing: 0.1em;
}

.button:hover {
    background: #9e9e9e;
}

.image-grid {
    width:100%;
    height:100%;
    
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

img {
    max-width: 100%;
    max-height: 100%;
    
    color: #171A1C;
    
    border: 1px solid #6E96C9;
}

.image-left-one {
    display: flex;
    align-items: center;
    justify-content: center;
    
    grid-column: 1;
    grid-row: 1;
}

.image-middle-one {
    display: flex;
    align-items: center;
    justify-content: center;
    
    grid-column: 2;
    grid-row: 1;
}

.image-right-one {
    display: flex;
    align-items: center;
    justify-content: center;
    
    grid-column: 3;
    grid-row: 1;
}

a {
    color: #6E96C9;
}

a:hover {
    color: #AAB4C9;
}

p.footer-above {
    margin: 0 10vw;
    padding: 24px 12px 12px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: center;
    letter-spacing: 0.1em;
}

p.footer-below {
    margin: 0 10vw;
    padding: 12px 12px 24px;
    
    font-size: 1em;
    color: #6E96C9;
    
    text-align: center;
    letter-spacing: 0.1em;
}
